# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
# created-by: conda 25.7.0
# Note: This is a conda requirements file (MatchSpec format)
# Contains conda package specifications, not pip requirements

pkgs/main::_libgcc_mutex==0.1=main
pkgs/main::_openmp_mutex==5.1=1_gnu
pkgs/main::aom==3.12.1=h7934f7d_0
pkgs/main::asgiref==3.10.0=py313h06a4308_0
pkgs/main::blas==1.0=mkl
pkgs/main::bzip2==1.0.8=h5eee18b_6
pkgs/main::ca-certificates==2025.11.4=h06a4308_0
pkgs/main::cairo==1.18.4=h44eff21_0
pkgs/main::dav1d==1.2.1=h5eee18b_0
pkgs/main::django==5.2.7=py313h06a4308_0
pkgs/main::expat==2.7.3=h3385a95_0
pkgs/main::filelock==3.20.0=py313h06a4308_0
pkgs/main::fontconfig==2.15.0=h2c49b7f_0
pkgs/main::freetype==2.13.3=h4a9f257_0
pkgs/main::fribidi==1.0.10=h7b6447c_0
pkgs/main::fsspec==2025.10.0=py313h7040dfc_0
pkgs/main::gmp==6.3.0=h6a678d5_0
pkgs/main::gmpy2==2.2.1=py313h5eee18b_0
pkgs/main::graphite2==1.3.14=h295c915_1
pkgs/main::harfbuzz==10.2.0=hdfddeaa_1
pkgs/main::icu==73.1=h6a678d5_0
pkgs/main::importlib-metadata==8.5.0=py313h06a4308_0
pkgs/main::intel-openmp==2025.0.0=h06a4308_1171
pkgs/main::jinja2==3.1.6=py313h06a4308_0
pkgs/main::jpeg==9f=h5ce9db8_0
pkgs/main::lcms2==2.16=h92b89f2_1
pkgs/main::ld_impl_linux-64==2.44=h153f514_2
pkgs/main::lerc==4.0.0=h6a678d5_0
pkgs/main::libabseil==20250127.0=cxx17_h6a678d5_0
pkgs/main::libavif==1.1.1=h0131e85_1
pkgs/main::libdeflate==1.22=h5eee18b_0
pkgs/main::libffi==3.4.4=h6a678d5_1
pkgs/main::libgcc==15.2.0=h69a1729_7
pkgs/main::libgcc-ng==15.2.0=h166f726_7
pkgs/main::libglib==2.84.4=h77a78f3_0
pkgs/main::libgomp==15.2.0=h4751f2c_7
pkgs/main::libiconv==1.16=h5eee18b_3
pkgs/main::libmpdec==4.0.0=h5eee18b_0
pkgs/main::libopenjpeg==2.5.4=hee96239_1
pkgs/main::libpng==1.6.50=h2ed474d_0
pkgs/main::libprotobuf==5.29.3=h3cdef7c_1
pkgs/main::libstdcxx==15.2.0=h39759b7_7
pkgs/main::libstdcxx-ng==15.2.0=hc03a8fd_7
pkgs/main::libtiff==4.7.0=hde9077f_0
pkgs/main::libtorch==2.7.0=cpu_mkl_he786494_100
pkgs/main::libuuid==1.41.5=h5eee18b_0
pkgs/main::libuv==1.48.0=h5eee18b_0
pkgs/main::libwebp-base==1.3.2=h5eee18b_1
pkgs/main::libxcb==1.17.0=h9b100fa_0
pkgs/main::libxml2==2.13.9=h2c43086_0
pkgs/main::libzlib==1.3.1=hb25bd0a_0
pkgs/main::lz4-c==1.9.4=h6a678d5_1
pkgs/main::markupsafe==3.0.2=py313h5eee18b_0
pkgs/main::mkl==2025.0.0=hacee8c2_941
pkgs/main::mkl-service==2.5.2=py313hacdc0fc_0
pkgs/main::mkl_fft==2.1.1=py313h57662e1_0
pkgs/main::mkl_random==1.3.0=py313h23c847b_0
pkgs/main::mpc==1.3.1=h5eee18b_0
pkgs/main::mpfr==4.2.1=h5eee18b_0
pkgs/main::mpmath==1.3.0=py313h06a4308_0
pkgs/main::ncurses==6.5=h7934f7d_0
pkgs/main::networkx==3.5=py313h06a4308_0
pkgs/main::numpy==2.3.4=py313h720eef7_1
pkgs/main::numpy-base==2.3.4=py313h95072fd_1
pkgs/main::openssl==3.0.18=hd6dcaed_0
pkgs/main::opentelemetry-api==1.37.0=py313h06a4308_0
pkgs/main::pcre2==10.46=hf426167_0
pkgs/main::pillow==12.0.0=py313h3b88751_1
pkgs/main::pip==25.3=pyhc872135_0
pkgs/main::pixman==0.46.4=h7934f7d_0
pkgs/main::pthread-stubs==0.3=h0ce48e5_1
pkgs/main::python==3.13.9=h7e8bc2b_100_cp313
pkgs/main::python_abi==3.13=1_cp313
pkgs/main::pytorch==2.7.0=cpu_mkl_py313h3cb6b68_100
pkgs/main::readline==8.3=hc2a1206_0
pkgs/main::setuptools==80.9.0=py313h06a4308_0
pkgs/main::sleef==3.5.1=h5eee18b_2
pkgs/main::sqlite==3.51.0=h2a70700_0
pkgs/main::sqlparse==0.5.2=py313h06a4308_0
pkgs/main::sympy==1.14.0=py313h06a4308_0
pkgs/main::tbb==2022.0.0=hdb19cb5_0
pkgs/main::tbb-devel==2022.0.0=hdb19cb5_0
pkgs/main::tk==8.6.15=h54e0aa7_0
pkgs/main::typing-extensions==4.15.0=py313h06a4308_0
pkgs/main::typing_extensions==4.15.0=py313h06a4308_0
pkgs/main::tzdata==2025b=h04d1e81_0
pkgs/main::wheel==0.45.1=py313h06a4308_0
pkgs/main::xorg-libx11==1.8.12=h9b100fa_1
pkgs/main::xorg-libxau==1.0.12=h9b100fa_0
pkgs/main::xorg-libxdmcp==1.1.5=h9b100fa_0
pkgs/main::xorg-libxext==1.3.6=h9b100fa_0
pkgs/main::xorg-libxrender==0.9.12=h9b100fa_0
pkgs/main::xorg-xorgproto==2024.1=h5eee18b_1
pkgs/main::xz==5.6.4=h5eee18b_1
pkgs/main::zipp==3.21.0=py313h06a4308_0
pkgs/main::zlib==1.3.1=hb25bd0a_0
pkgs/main::zstd==1.5.7=h11fc155_0
