* {
   margin-top: 0;
}

#graph_div {
   width: 100%;
   height: 100%;
}

#edges_svg {
   width: 100%;
   height: 100%;
   overflow: visible;
}

#header {
   position: fixed;
   width: 100%;
   z-index: 100;
   display: flex;
   justify-content: center;
   pointer-events: none;
}

#toolbar {
   background-color: white;
   border: 2px solid black;
   width: 50%;
   padding: 1em;
   display: flex;
   justify-content: center;
   pointer-events: auto;
}

#toolbar button {
   margin: 1em;
}

.graph_node {
   z-index: 0;
   position: absolute;
   padding: 5px;
   border: 3px solid black;
   min-width: 6em;
}

.node_header, .node_footer, .node_content {
   display: flex;
   flex-direction: row;
   border: 1px solid black;
   padding: 1em;
}

.node_header_left {
   display: flex;
   flex-direction: row;
}

.node_header_right {
   margin-left: auto;
   display: flex;
   flex-direction: row-reverse;
}

.node_footer_left {
   display: flex;
   flex-direction: row;
}

.node_footer_right {
   margin-left: auto;
   display: flex;
   flex-direction: row-reverse;
}

.conv_config input {
   width: 5em;
}

.matrix_entry {
   width: 5em;
   border: none;
}

.selected_port {
   background-color: red;
}

.image_view_canvas {
   max-width: 20em;
   min-width: 10em;
   max-height: 20em;
   border: 2px red solid;
}
