* {
   margin-top: 0;
}

body {
   overflow: hidden;
}

#toolbar_div {
   position: absolute;
   top: 1em;
   left: 1em;
}

#toolbar {
   margin-top: 1em;
   overflow: auto;
   visibility: hidden;
   background-color: #888;
   padding: 1em;
   display: flex;
   flex-direction: column;
}

#open-toolbar {
   width: 2em;
   height: 2em;
}

#graph_div {
   position: absolute;
   top: 0;
   left: 0;
   overflow: visible;
}

#workspace {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background-color: #404040;
}

#edges_svg {
   overflow: visible;
   width: 100%;
   height: 100%;
   z-index: 50;
}

#grid_canvas {
   width: 100%;
   height: 100%;
}

.graph_node {
   z-index: 0;
   position: absolute;
   padding: 5px;
   border: 3px solid gray;
   background-color: #606060;
   min-width: 6em;
}

.node_header, .node_footer, .node_content {
   display: flex;
   flex-direction: row;
   border: 1px solid black;
   padding: 1em;
}

.node_header_left {
   display: flex;
   flex-direction: row;
}

.node_header_right {
   margin-left: auto;
   display: flex;
   flex-direction: row-reverse;
}

.node_footer_left {
   display: flex;
   flex-direction: row;
}

.node_footer_right {
   margin-left: auto;
   display: flex;
   flex-direction: row-reverse;
}

.conv_config input {
   width: 5em;
}

.matrix_entry {
   width: 5em;
   border: none;
}

.selected_port {
   background-color: red;
}

.non_selected_port {
}

.image_view_canvas {
   max-width: 20em;
   min-width: 10em;
   max-height: 20em;
}

.modal_bg {
   display: block;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%; 
   height: 100%; 
   overflow: auto; 
   background-color: rgb(0,0,0,0.5); 
   z-index: 100;
}

.modal_body {
   background-color: white;
   margin: 15% auto; 
   padding: 20px;
   border: 1px solid #888;
   width: 80%; 
}

.index_node_dims{
   display: flex;
   width: 100%;
}

.index_node_dim_input {
   width: 2em;
   height: 2em;
   border: none;
}

.picker {
   display: block;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%; 
   height: 100%; 
   overflow: auto; 
   background-color: rgb(0,0,0,0.5); 
   z-index: 100;
}

.multi_view_div {
   max-width: 50em;
   max-height: 50em;
   overflow: auto;
}

.multi_view_div table { }

.multi_view_canvas {
   min-width: 4em;
   min-height: 4em;
   margin: 0.5em;
   border: solid 2px transparent;
}

.multi_view_coords_hover {
   position: fixed;
   background-color: white;
}

.multi_view_dim_text {
   position: sticky;
   top: 0;
   left: 0;
   background-color: #606060;
}

.multi_view_canvas_div {
   width: 100%;
}

.input_fmt {
   display: flex;
   flex-direction: row;
   white-space: nowrap;
}

.input_fmt > input {
   border: none;
   max-width: 5em;
   background-color: #777777;
}
