{% load static %}

<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <script src="{% static "main/index.js" %}" type="module"></script>
    <link rel="stylesheet" href="{% static "main/styles.css" %}">

    <title>My test page</title>
  </head>

  <body id="body">
    {% csrf_token %}


    <div id="workspace">
      <div id="graph_div"> 
        <svg id="edges_svg"> </svg>
        <div id="nodes_div"> </div>
      </div>
      <canvas id="grid_canvas"> 

    </div>

    <div id="toolbar_div">
      <button id="open_toolbar">=</button>
      <div id="toolbar"></div>
    </div>

  </body>

</html>

